<nav class="navbar navbar-light navbar-expand-lg bg-light mb-3" >
    <div class="container-md">
        <a class="navbar-brand" [routerLink]="'/'">Employee Management</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" [routerLink]="'/'" aria-current="page" href="#">Home</a>
                </li>
                
            </ul>
            <span class="navbar-text">
                <i class="bi bi-person-square"></i>
                Kiyomasa Admin
            </span>


            
        </div>
    </div>
</nav>