<div class="table-wrapper">
    <div class="table-title d-flex justify-content-between mb-3">
        <h5>Employee Detail</h5>
    </div>
    <div>
        <p class="mt-4">
            <span><b>FirstName</b></span><br>
            {{student?.FirstName}}
        </p>
        <p><span><b>LastName</b></span><br>
            {{student?.LastName}}\
        </p>
        <p><span><b>Email</b></span><br>
            {{student?.Email}}
        </p>
        <p><span><b>Address</b></span><br>
            {{student?.Address}}
        </p>
        <p><span><b>Phone</b></span><br>
            {{student?.Phone}}
        </p>
    </div>
</div>